<h1>
    Codeial / <%= title %>
</h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="",id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="2" placeholder="Type Here ....."></textarea>
        <input type="submit" value="Post">
    </form>
</section>

<_ht>hh
</_ht>